/* 简单的 Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 画布项目必须禁止浏览器原生滚动 */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
